#include "model.h"
#include "fractions-pool.h"

FractionsPool::FractionsPool()
{
    initFractionsPoolBase();
}

FractionsPool::~FractionsPool()
{
}

void FractionsPool::createFractions()
{
    ${fractions_init_code}
}
