#include "model.h"

Model::Model() :
    space(this),
    outputMaker(&space),
    time(0)
{
${outputs_init_code}
}

void Model::iterate(double dt)
{
    outputMaker.output(time);
    space.calculateFlowsEvolution(dt);
    space.calculateSourceEvolution(dt);
    space.swapBuffers();
    time += dt;
}
